<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">


{{!-- 
<div class="row">
  {{#each allCharities}}
    <div class="col-md-6">
      {{name}}
      {{city}}
      {{state}}
      {{zipcode}}
      {{category}}
      {{description}}
      {{phone_number}}
      {{url}}
    </div>
  {{/each}}
</div> --}}






<body>
{{#each allCharities}}
<div class="jumbotron jumbotron">
  <div class="container">
    <h1 class="display-3">{{name}}</h1>
{{city}}
 {{state}}
  {{zipcode}} 
  {{category}} 
  {{description}} 
  {{phone_number}}
   {{url}}
  </div>
</div>
{{/each}}






</body>







<button type="button" class="btn btn-outline-primary"><a href="adder">Add a Charity</a></button>

